---
layout: default
photos:
  # Landscape
  -
    name: DSC0056
    ext: .jpg
  -
    name: DSC0012
    ext: .jpg
  -
    name: DSC0025
    ext: .jpg
  -
    name: DSC0033
    ext: .jpg
  -
    name: DSC0122
    ext: .jpg
  -
    name: DSC0126
    ext: .jpg
  -
    name: DSC2259
    ext: .jpg
  -
    name: DSC2604
    ext: .jpg
  
  # Children
  -
    name: DSC0044
    ext: .jpg
  -
    name: DSC0080
    ext: .jpg
  -
    name: DSC0081
    ext: .jpg
  -
    name: DSC0067
    ext: .jpg
  -
    name: IMG_0449
    ext: .jpg
  - 
    name: IMG_0491
    ext: .jpg
  
  # Models
  -
    name: DSC0062
    ext: .jpg
  - 
    name: Garcia_42
    ext: .jpg  
  -
    name: DSC2497
    ext: .jpg

  # Couple/Prom
  -
    name: DSC0053
    ext: .jpg
  -
    name: DSC0055 copy
    ext: .jpg

  # Weddings
  -
    name: DSC0055
    ext: .jpg
  -
    name: DSC0059
    ext: .jpg
  -
    name: DSC0061
    ext: .jpg
  -
    name: DSC0071
    ext: .jpg
  -
    name: DSC0086
    ext: .jpg
  -
    name: DSC0105
    ext: .jpg
  -
    name: DSC0108
    ext: .jpg
  - 
    name: Polanco41.1
    ext: .jpg
  -
    name: Polanco42.1
    ext: .jpg
  - 
    name: Polanco6.1
    ext: .jpg
  -
    name: Polanco8.1
    ext: .jpg
  -
    name: Polanco9.1
    ext: .jpg
---
<div class="container photo-gallery">
  {% for photo in page.photos %}
  	{% capture modulo %}{{ forloop.index0 | modulo:4 }}{% endcapture %}

  	{% if modulo == '0' %}
      	<div class="row">
    	{% endif %}
      	<div class="col-sm-3 photo">
      		<a href="images/web/{{photo.name | append: photo.ext}}" data-lightbox="portfolio"  target="_blank">
  				  <img 
              class="img-responsive img-thumbnail" 
              src="images/thumbnails/{{photo.name | append: '.png'}}" 
              title="{{ photo.title }}" >
  			 </a>
  		  </div>

  	{% if modulo == '3' or forloop.last  %}
  		</div>
    	{% endif %}
  {% endfor %}
</div>
