---
layout: content
---
<div class="container photo-gallery">
  {% for photo in site.data.contentful.spaces.blog.assets.assets %}
  	{% capture modulo %}{{ forloop.index0 | modulo:4 }}{% endcapture %}
  	
    {% if modulo == '0' %}
      	<div class="row">
    	{% endif %}
      	<div class="col-sm-3 photo">
      		<a href="{{ photo.url }}" data-lightbox="portfolio"  target="_blank">
  				  <img 
              class="img-responsive img-rounded" 
              src="{{ photo.thumb_url }}" 
              alt="{{ photo.title }}" >
  			 </a>
  		  </div>

  	{% if modulo == '3' or forloop.last  %}
  		</div>
    	{% endif %}
  {% endfor %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>

<script type="text/javascript">
    lightbox.option({
      'wrapAround' : true,
      'resizeDuration' : 350
    })
</script>
